@using Task = KanBanApp.Models.Task
@inherits FluxorComponent
@inject IState<KanbanState> State

<div class="add-new-column">
    <h3 class="add-column-heading">Add New Column</h3>
    <div class="input">
        <label>Name</label>
        <input class="add-colums-input" type="text" @bind-value="@_columnName" placeholder="e.g. Archived" />
        <button class="create-board-btn btn" @onclick="AddColumn">+ Add New Column</button>
    </div>
</div>

<div @onclick="() => OnAddColumn.InvokeAsync()" class="overlay"></div>


@code {
    [Parameter]
    public EventCallback OnAddColumn { get; set; }

    private string? _columnName;

    private void AddColumn()
    {
        State.Value.Board.columns.Add(new Column
            {
                name = _columnName,
                tasks = new List<Task>()
            });

        OnAddColumn.InvokeAsync();
    }
}
