@using Task = KanBanApp.Models.Task
@inherits FluxorComponent
@inject StateFacade Facade

<EditForm Model="Board">
    <DataAnnotationsValidator />
    <h2>Add New Board</h2>
    <div class="input">
        <label>Board Name</label>
        <InputText @bind-Value="Board.name" />
    </div>

    <div class="input">
        <label>Board Columns</label>
        @if (Board.columns != null)
        {
            foreach (var column in Board.columns)
            {
                <input type="text" @bind-value="column.name" />
            }
        }
    </div>
<button type="submit" @onclick="CreateBoard">create</button>
</EditForm>
<button @onclick="AddNewColumn">Add New Column</button>

@code {
    private Board? Board { get; set; }

    [Parameter]
    public EventCallback OnCreate { get; set; }

    protected override void OnInitialized()
    {
        Board = new Board
            {
                name = "",
                columns = new List<Column>
            {
                new()
                {
                    name = "TODO",
                    tasks = new List<Task>()
                },
                new()
                {
                    name = "DOING",
                    tasks = new List<Task>()
                }
            }
            };

        base.OnInitialized();
    }

    private void AddNewColumn()
    {
        Board.columns.Add(new Column
            {
                name = ""
            });
    }

    private void CreateBoard()
    {
        Facade.CreateBoard(Board);
        OnCreate.InvokeAsync();
    }
}
