@using Task = KanBanApp.Models.Task
@inherits FluxorComponent
@inject StateFacade Facade

<EditForm Model="Board">
    <DataAnnotationsValidator />
    <h2>Add New Board</h2>
    <div class="input">
        <label>Board Name</label>
        <input type="text" @bind-value="Board.name" />
    </div>

    <div class="input">
        <label>Board Columns</label>
        @if (Board.columns != null)
        {
            foreach (var column in Board.columns)
            {
                <input type="text" @bind-value="column.name" />
            }
        }
    </div>
</EditForm>
<button @onclick="AddNewColumn">Add New Column</button>
<button @onclick="() => Facade.CreateBoard(Board)">create</button>

@code {
    private Board? Board { get; set; }

    protected override void OnInitialized()
    {
        Board = new Board
            {
                name = "",
                columns = new List<Column>
            {
                new()
                {
                    name = "TODO",
                    tasks = new List<Task>()
                },
                new()
                {
                    name = "DOING",
                    tasks = new List<Task>()
                }
            }
            };

        base.OnInitialized();
    }

    private void AddNewColumn()
    {
        Board.columns.Add(new Column
            {
                name = ""
            });
    }
}
