@inherits FluxorComponent
@inject StateFacade Facade
@inject IState<KanbanState> State

<EditForm Model="State.Value.Board">
    <DataAnnotationsValidator />
    <h2>Edit Board</h2>
    <div class="input">
        <label>Board Name</label>
        <InputText @bind-Value="State.Value.Board.name" />
    </div>

    <div class="input">
        <label>Board Columns</label>
        @if (State.Value.Board != null && State.Value.Board.columns != null)
        {
            foreach (var column in State.Value.Board.columns)
            {
                <input type="text" @bind-value="column.name" />
            }
        }
    </div>
    <button type="submit" @onclick="UpdateBoard">Save Changes</button>
</EditForm>
<button @onclick="AddNewColumn">Add New Column</button>

@code {
    [Parameter]
    public EventCallback OnEdit { get; set; }

    private void AddNewColumn()
    {
        State.Value.Board.columns.Add(new Column
            {
                name = ""
            });
    }

    private void UpdateBoard()
    {
        Facade.UpdateBoard(State.Value.Board.name, State.Value.Board);
        OnEdit.InvokeAsync();
    }
}
