@page "/"
@using KanBanApp.Store
@inherits FluxorComponent
@inject StateFacade Facade
@inject IState<KanbanState> KanBanState


<CreateBoardComponent />

@if (KanBanState.Value.Boards is not null)
{
    @foreach (var item in KanBanState.Value.Boards.boards)
    {
        <a href="@($"board/{item.name}")">
            <p>@item.name</p>
        </a>
    }
}



@code
{
    protected override void OnInitialized()
    {
        if (KanBanState.Value.Boards is null)
        {
            Facade.LoadKanBan();
        }

        base.OnInitialized();
    }
}
