@page "/"
@inherits FluxorComponent
@inject IState<KanbanState> State
@inject StateFacade Facade

@if (State.Value.Boards is not null)
{
    @foreach (var board in State.Value.Boards)
    {
        <a href="@($"board/{board.name}")">
            <p>@board.name</p>
        </a>
        <button @onclick="() => Facade.DeleteBoard(board.name)">delete</button>
    }
}


<button @onclick="CreateNewBoard">Create New Board</button>

@if (_isAddNewBoardShowing)
{
    <CreateBoardComponent />
}

@code
{
    private bool _isAddNewBoardShowing;

    protected override void OnInitialized()
    {
        @if (State.Value.Boards is null)
        {
            Facade.LoadKanBan();
        }
        base.OnInitialized();
    }

    private void CreateNewBoard()
    {
        _isAddNewBoardShowing = true;
    }
}
