@page "/"
@inherits FluxorComponent
@inject StateFacade Facade
@inject IState<KanbanState> KanBanState

@foreach (var item in KanBanObject.boards)
{
    <a href="@($"board/{item.name}")">
        <p>@item.name</p>
    </a>
}
@code
{
    public KanBanObject? KanBanObject { get; set; } = new();

    //protected override void OnInitialized()
    //{
    //    if (KanbanState.Value.Boards is null)
    //    {
    //        Facade.LoadKanBan();
    //    }

    //    base.OnInitialized();
    //}
}

