@import "_Config.scss";

.board-details {
    width: 100%;
    padding-top: 1.25rem;

    .columns {
        padding: 1.5rem;
        padding-top: 0;
        display: flex;
        max-width: 85%;
        overflow-x: auto;
        gap: 1.5rem;

        .column {
            width: 17.5rem;
            .column-name{

            }
        }
    }
}
