@import "_Config.scss";

.board-details {
    width: 100%;
    padding-top: 1.25rem;
    overflow-x: auto;
    overflow-y: hidden;

    .columns {
        padding: 1.5rem;
        padding-top: 0;
        display: flex;
        gap: 1.5rem;

        .column {
            min-width: 17.9rem;

            .column-name {
                font-weight: 700;
                font-size: 0.75rem;
                letter-spacing: 2.4px;
                color: var(--medium-grey);
                margin-bottom: 1.5rem;
            }

            .tasks {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                height: 80vh;
                overflow-y: auto;

                .task {
                    background-color: var(--white);
                    padding: 1.5rem 1rem;
                    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
                    border-radius: 8px;
                    width: 17.5rem;
                    cursor: pointer;

                    .task-title {
                        font-weight: 700;
                        font-size: 0.9375rem;
                        color: var(--black);
                        margin-bottom: 0.5rem;
                    }

                    .number-of-subtasks {
                        font-weight: 700;
                        font-size: 0.9375rem;
                        color: var(--medium-grey);
                    }
                }
            }
        }

        .new-column-btn {
            background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
            border-radius: 6px;
            font-weight: 700;
            padding: 0 3.4375rem;
            font-size: 1.5rem;
            min-width: 17.5rem;
            color: var(--medium-grey);
        }
    }
}

