@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@keyframes fade-in-fwd {
    0% {
        transform: translate(-50%, -80%);
    }

    100% {
        transform: translateY(-50%, -50%);
    }
}

:root {
    --body-background: #F4F7FD;
    --logo: url(../assets/logo-dark.svg);
    --medium-grey: #828FA3;
    --main-purple: #635FC7;
    --hover-main-purple: #A8A4FF;
    --white: #FFFFFF;
    --black: #000112;
}

$font: 'Plus Jakarta Sans', sans-serif;
$transition: all 0.18s ease-out;
$fadeIn: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
$boxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$borderColor: rgb(228, 235, 250);


