@import "_Config.scss";

.create-new-board {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: var(--white);
    border-radius: 6px;
    padding: 2rem;
    width: 30rem;
    animation: $fadeIn;

    &.hide{

    }

    .add-board-heading {
        font-weight: 700;
        font-size: 1.125rem;
        color: var(--black);
        margin-bottom: 1.5rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        label {
            font-weight: 700;
            font-size: 0.75rem;
            color: var(--medium-grey);
            margin-bottom: 0.5rem;
        }

        input {
            border: 1px solid rgba(130, 143, 163, 0.25);
            border-radius: 4px;
            height: 2.5rem;
            padding-left: 1rem;
            color: var(--black);

            &:focus {
                outline: 1px solid var(--main-purple);
            }
        }

        ::placeholder {
            font-weight: 500;
            font-size: 0.8125rem;
            color: var(--black);
            mix-blend-mode: normal;
            opacity: 0.25;
        }

        .board-colums-input {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0.75rem;

            .column-name-input {
                flex-grow: 1;
            }

            img {
                cursor: pointer;
            }
        }

        .add-column-btn {
            font-weight: 700;
            font-size: 0.8125rem;
            color: var(--main-purple);
            cursor: pointer;
            margin-top: 0.75rem;
        }
    }

    .create-board-btn {
        width: 100%;
        margin-top: 1.5rem;
        background-color: var(--main-purple);
        border-radius: 20px;
        font-weight: 700;
        font-size: 0.75rem;
        color: var(--white);
        padding: 0.65rem 0;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: var(--hover-main-purple);
        }
    }
}

.overlay {
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
}
