@import "_Config.scss";

main {
    display: flex;
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    bottom: 0;
}

.app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: transparent;
    border: 0;
    outline: none;
}
