@import "_Config.scss";

@media (min-width: 1000px) {

    .tasks::-webkit-scrollbar {
        height: 7px;
        width: 6px;
        background-color: transparent;
        border-radius: 0;
    }

    .tasks::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .board-details::-webkit-scrollbar-thumb:horizontal {
        background: var(--main-purple);
        border-radius: 0;
    }


    ::-webkit-scrollbar {
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--main-purple);
        border-radius: 0;
    }
}
