@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

.btn {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--body-background);
  overflow-y: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

main {
  display: flex;
}

.button {
  background-color: transparent;
  border: 0;
  outline: none;
}

@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

.navbar {
  width: 17.25rem;
  height: 100vh;
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.18s ease-out;
}
.navbar.hide {
  margin-left: -17.25rem;
}
.navbar.hide .navbar-toggler {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-purple);
  padding: 1.1rem;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}
.navbar.hide .navbar-toggler span {
  display: none;
}
.navbar.hide .navbar-toggler .toggle-icon {
  background-image: url(../assets/icon-show-sidebar.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 10.22px;
}
.navbar.hide .navbar-toggler:hover .toggle-icon {
  filter: none;
}
.navbar .logo {
  background: var(--logo);
  background-repeat: no-repeat;
  height: 1.6rem;
  width: 9.53rem;
  padding-bottom: 3.375rem;
}
.navbar .all-boards {
  color: var(--medium-grey);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  padding-bottom: 1.1875rem;
}
.navbar .boards-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar .boards-list .board-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--medium-grey);
  font-weight: 700;
  font-size: 0.93rem;
  cursor: pointer;
}
.navbar .boards-list .active {
  background-color: var(--main-purple);
}
.navbar .create-board-btn {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 1rem;
  gap: 1rem;
  color: #635FC7;
  cursor: pointer;
}
.navbar .create-board-btn .add-board-icon {
  filter: invert(49%) sepia(10%) saturate(3490%) hue-rotate(203deg) brightness(80%) contrast(93%);
}
.navbar .theme-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  margin-top: auto;
  padding: 1.25rem;
}
.navbar .navbar-toggler {
  margin-bottom: 2rem;
  margin-top: 1.357rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.navbar .navbar-toggler span {
  font-weight: 700;
  font-size: 0.937rem;
  color: var(--medium-grey);
}
.navbar .navbar-toggler:hover span {
  color: var(--main-purple);
}
.navbar .navbar-toggler:hover .toggle-icon {
  filter: invert(49%) sepia(10%) saturate(3490%) hue-rotate(203deg) brightness(80%) contrast(93%);
}
.navbar .navbar-toggler .toggle-icon {
  background-image: url(../assets/icon-hide-sidebar.svg);
  width: 18px;
  height: 16px;
}

@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

.toggler-wrapper {
  display: block;
  width: 41px;
  height: 21px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type=checkbox] {
  display: none;
}

.toggler-wrapper input[type=checkbox]:checked + .toggler-slider {
  background-color: var(--main-purple);
}

.toggler-wrapper .toggler-slider {
  background-color: var(--main-purple);
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type=checkbox]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 15px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

.create-new-board {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 6px;
  padding: 2rem;
  width: 30rem;
  animation: fade-in-fwd 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.create-new-board .add-board-heading {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}
.create-new-board .input {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.create-new-board .input label {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--medium-grey);
  margin-bottom: 0.5rem;
}
.create-new-board .input input {
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  height: 2.5rem;
  padding-left: 1rem;
  color: var(--black);
}
.create-new-board .input input:focus {
  outline: 1px solid var(--main-purple);
}
.create-new-board .input ::placeholder {
  font-weight: 500;
  font-size: 0.8125rem;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.25;
}
.create-new-board .input .board-colums-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}
.create-new-board .input .board-colums-input .column-name-input {
  flex-grow: 1;
}
.create-new-board .input .board-colums-input img {
  cursor: pointer;
}
.create-new-board .input .add-column-btn {
  font-weight: 700;
  font-size: 0.8125rem;
  color: var(--main-purple);
  cursor: pointer;
  margin-top: 0.75rem;
}
.create-new-board .create-board-btn {
  width: 100%;
  margin-top: 1.5rem;
  background-color: var(--main-purple);
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--white);
  padding: 0.65rem 0;
  cursor: pointer;
  transition: all 0.18s ease-out;
}
.create-new-board .create-board-btn:hover {
  background-color: var(--hover-main-purple);
}

.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fade-in-fwd {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
:root {
  --body-background: #F4F7FD;
  --logo: url(../assets/logo-dark.svg);
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --hover-main-purple: #A8A4FF;
  --white: #FFFFFF;
  --black: #000112;
}

.board-details {
  width: 100%;
  padding-top: 1.25rem;
  padding-right: 2rem;
}
.board-details .board-details-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.board-details .board-details-header .board-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--black);
  margin-right: auto;
}
.board-details .board-details-header .add-task-btn {
  background: var(--main-purple);
  border-radius: 24px;
  color: var(--white);
  padding: 0.875rem 1.5rem;
  font-size: 0.9375rem;
  margin-right: 1.5rem;
  transition: all 0.18s ease-out;
}
.board-details .board-details-header .add-task-btn:hover {
  background: var(--hover-main-purple);
}
.board-details .board-details-header .edit-delete-handler {
  position: relative;
}
.board-details .board-details-header .edit-delete-handler .edit-delete-modal {
  display: block;
  position: absolute;
  left: -10rem;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.18s ease-out;
  transform: scale(0);
  transform-origin: top;
}
.board-details .board-details-header .edit-delete-handler .edit-delete-modal .edit-board-btn {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--medium-grey);
}
.board-details .board-details-header .edit-delete-handler .edit-delete-modal .delete-board-btn {
  font-weight: 500;
  font-size: 0.8rem;
  color: #EA5555;
}
.board-details .board-details-header .edit-delete-handler .edit-delete-modal .crud-icon {
  margin-right: 0.5rem;
}
.board-details .board-details-header .edit-delete-handler .edit-delete-modal.show {
  transform: scale(1);
  transform-origin: bottom;
}
